:root
{
    --green: #00c176;
    --dark-green: #009a5f;
    --shadow-green: #009a5f68;
    --gradient-green: #001810;
    --gray: #cdd8d8;
    --black: #020d0d;
    --shadow: #00000080;
    --transparent: #00000000;
}